%h1= "Solicitud de secuencias #{@admin_sequence_request.folio}"

%h3= "La hoja de resultados ha sido enviada via e-mail a #{@admin_sequence_request.petitioner}."

= link_to t('crud.back'), admin_sequence_request_path(@admin_sequence_request), :class => 'jq-button'